*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
.DS_Store

# Android
/app/build
/bin
/gen
/out
*.apk
*.aab
*.ap_
*.dex

# Gradle
gradle/wrapper/gradle-wrapper.jar

# VS Code
.vscode

# OpenCode
.opencode

# Kotlin
.kotlin

# Native
*.so
*.o
*.class

# Logs
*.log
